extends layout

block content
  if error.status == 404
    h1 Page Not Found
    p Sorry! We couldn&apos;t find the page you were looking for.
    br
    p
      a.button(href='/books') Home
  else
    h1= 'Server Error'
    p= 'Sorry! There was an unexpected error on the server.'
    pre #{error.stack}
